body {
    background-color: #a7a3c1;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
}

.novus-flex {
    position: relative;
    top: 150px;
    left: 600px;
}

.new-and-improved {
    position: absolute;
    background-color: #fce88d;
    font-weight: bold;
    left: -7px;
    border-radius: 5px 15px 15px 5px;
    padding: 8px;
    padding-right: 15px;
}

img {
    width: 350px;
    height: 280px;
    display: block;
    border-radius: 5px 5px 0 0;
}

span {
    font-size: 1.5em;
}

.novus-text {
    background-color: white;
    width: 320px;
    height: 140px;
    padding: 15px;
    border-radius: 0 0 5px 5px;
}